<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Blazor.WebMCP</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Status">
                <svg class="bi" viewBox="0 0 16 16">
                    <polygon stroke="#FFFFFF" stroke-width="1" fill="none" points="1,14 7.5,1 15,14" stroke-linecap="round" stroke-linejoin="round"></polygon>
                    <line stroke="#FFFFFF" stroke-width="2" x1="7.5" y1="9.5" x2="7.5" y2="6" stroke-linecap="round"></line>
                    <circle stroke="black" stroke-width="0" fill="#FFFFFF" cx="7.5" cy="12" r="1"></circle>
                </svg> API Coverage Status
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
